# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_path = "CityWeather.csv"
weather_df = pd.read_csv(weather_path)
weather_df.head()

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Lat,Lng
0,0,Port Elizabeth,66.49,55,0,3.44,-33.9180,25.5701
1,1,Chui,45.73,77,72,9.10,-33.6971,-53.4616
2,2,Celestún,76.35,89,100,8.52,20.8667,-90.4000
3,3,Rikitea,76.08,85,100,17.81,-23.1203,-134.9692
4,4,Cap Malheureux,78.48,63,100,11.99,-19.9842,57.6142

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access maps with unique API key

gmaps.configure(api_key=g_key)

In [5]:
# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]
#humidity values
humidity = weather_df["Humidity"]

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
# Plot heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)


heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating=False, max_intensity=100, 
                                 point_radius=3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [46]:

vacation_df = weather_df.loc[(weather_df["Wind Speed"] <= 10) & (weather_df["Cloudiness"] == 0) & \
                                   (weather_df["Temperature"] >= 70) & (weather_df["Temperature"] <= 80)].dropna()

vacation_df

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Lat,Lng
91,91,East London,79.74,25,0,2.30,-33.0153,27.9116
129,129,Nsanje,77.49,41,0,3.91,-16.9200,35.2620
132,132,Emerald,73.54,17,0,3.44,-23.5333,148.1667
179,179,Salima,74.26,45,0,8.57,-13.7804,34.4587
190,190,Beloha,78.30,41,0,6.04,-25.1667,45.0500
225,225,Naples,76.98,51,0,1.01,40.8333,14.2500
281,281,Sumbe,77.90,71,0,8.03,-11.2061,13.8437
304,304,Oro Valley,77.94,10,0,4.00,32.3909,-110.9665
356,356,Boa Vista,78.78,83,0,5.75,2.8197,-60.6733
361,361,Arrondissement d'Ajaccio,73.38,53,0,4.61,42.0000,8.9167
390,390,Kumluca,77.05,60,0,8.34,36.3703,30.2869
475,475,Misratah,74.43,62,0,7.14,32.3754,15.0925

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [47]:
hotel_df =  vacation_df.loc[:,['City','Lat', 'Lng']]
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                         City      Lat       Lng Hotel Name
91                East London -33.0153   27.9116
129                    Nsanje -16.9200   35.2620
132                   Emerald -23.5333  148.1667
179                    Salima -13.7804   34.4587
190                    Beloha -25.1667   45.0500
225                    Naples  40.8333   14.2500
281                     Sumbe -11.2061   13.8437
304                Oro Valley  32.3909 -110.9665
356                 Boa Vista   2.8197  -60.6733
361  Arrondissement d'Ajaccio  42.0000    8.9167
390                   Kumluca  36.3703   30.2869
475                  Misratah  32.3754   15.0925

In [48]:
# find the closest hotel of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "type": "hotel",
    "radius" : 5000,
    "key": g_key}

# Use the lat & lng to find hotels
for index, row in hotel_df.iterrows():
    # get city, lat, lng from df
    lat = row['Lat']
    lng = row['Lng']
    city = row['City']
   
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Retrieving Results for Index 91: East London.
Closest hotel in East London is East London.
Retrieving Results for Index 129: Nsanje.
Closest hotel in Nsanje is Nsanje.
Retrieving Results for Index 132: Emerald.
Closest hotel in Emerald is Emerald.
Retrieving Results for Index 179: Salima.
Closest hotel in Salima is Salima.
Retrieving Results for Index 190: Beloha.
Closest hotel in Beloha is Beloha.
Retrieving Results for Index 225: Naples.
Closest hotel in Naples is Naples.
Retrieving Results for Index 281: Sumbe.
Closest hotel in Sumbe is Sumbe.
Retrieving Results for Index 304: Oro Valley.
Closest hotel in Oro Valley is Casas Adobes.
Retrieving Results for Index 356: Boa Vista.
Closest hotel in Boa Vista is Boa Vista.
Retrieving Results for Index 361: Arrondissement d'Ajaccio.
Closest hotel in Arrondissement d'Ajaccio is Sarrola-Carcopino.
Retrieving Results for Index 390: Kumluca.
Closest hotel in Kumluca is Kumluca.
Retrieving Results for Index 475: Misratah.
Closest hotel in Misratah is Misrata.

In [50]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [51]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Figure
fig

Figure(layout=FigureLayout(height='420px'))